* {
  padding: 0;
  margin: 0;
  width: 100%
}

.container {
  display: flex;
  border: 5px solid green;
  flex-direction: column;
  justify-content: space-around
}

.container > ul {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: row;
}

nav > ul {
  list-style: none;
  background-color: khaki;
  font-size: 3rem;
  border: 1px solid red;
}
nav > ul > li {
  border: 2px solid red;
  
}

